<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
   	<command
          categoryId="org.eclipse.ui.category.navigate"
          defaultHandler="pp.eclipse.command.OpenInputTemplateCommand"
          description="Browse Input Templates and select one to open"
          id="pp.eclipse.command.OpenInputTemplateCommand"
          name="Open Input Template"> 	
	</command>
    <command
          categoryId="org.eclipse.ui.category.file"
          defaultHandler="pp.eclipse.command.ImportCommand"
          description="Imports the currently open XML file as Content XML."
          id="pp-eclipse.command.ImportContentXML"
          name="Import Content XML">
    </command>
	<command
          categoryId="org.eclipse.ui.category.navigate"
          defaultHandler="pp.eclipse.command.OpenContentXMLCommand"
          description="Browse Content External Id and select one to open"
          id="pp.eclipse.command.OpenContentXMLCommand"
          name="Open Content by External Id"> 	
	</command>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="pp.eclipse.command.OpenInputTemplateCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+I">
	  </key>
	  <key
            commandId="pp.eclipse.command.OpenContentXMLCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+E">
	  </key>
      <key
            commandId="pp-eclipse.command.ImportContentXML"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+X I">
      </key>
   </extension>

</plugin>
