<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.commands">
   	<command
          categoryId="org.eclipse.jdt.ui.category.source"
          defaultHandler="browse.command.BrowseInputTemplateCommand"
          description="Open Input Template"
          id="browse.command.BrowseInputTemplateCommand"
          name="Browse"> 	
	</command>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <key
            commandId="browse.command.BrowseInputTemplateCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+I">
	  </key>
   </extension>

</plugin>
